@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="posts">

</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
</script>

<script>
    function loadPosts(pageNumber) {
        $.ajax({
            url: '@Url.Action("GetPosts", "Post")',
            type: 'GET',
            data: { 'pageNumber': pageNumber },
            success: function (data) {
                $('#posts').html(data);
                console.log('posts loaded');
            },
            error: function () {
                console.log('error');
            }
        });
    }
    $(document).on('click', '.page-link', function () {
        event.preventDefault();
        let pageNumber = $(this).data('page');
        loadPosts(pageNumber);
    });

    $(document).on('click', '#link-row', function () {
        window.location = $(this).data('url');
    });
    
    loadPosts(1);
</script>

